[Unit]
Description=CTT App

[Service]
ExecStart=/srv/ctt/server.js
Restart=always
User=nogroup
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/srv/ctt

[Install]
WantedBy=multi-user.target
