@import '../../styles/_variables.scss';

.welcome-bg {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height: 100%;
  position: absolute;
  width: 100%;
}

.welcome-view {
  background: linear-gradient(lighten($dark-blue, 4%), $dark-blue);
  border: 1px solid lighten($dark-blue, 10%);
  color: $light-gold;
  margin: 120px auto;
  text-align: center;
  width: 482px;

  .errors {
    color: $error-red;
    font-size: 12px;
    margin: 8px 0;
    width: 186px;
  }

  form {
    margin: 12px auto 0;
    width: 150px;
  }

  h1 {
    background-image: url($rock-texture);
    background-color: $dark-blue;
    border: 1px solid $dark-gold;
    border-top: 2px solid $gold;
    color: $gold;
    margin: 0 0 0 -3px;
    padding: 14px 0 2px;
    position: relative;
    width: 488px;

    img {
      filter: drop-shadow(0 0 2px $dark-gold);
    }
  }

  input:not(.button) {
    background: $dark-blue;
    border: 1px solid $dark-gold;
    color: $white;
    line-height: 22px;
    margin: 0 0 10px;
    width: 146px;

    &:focus {
      background: lighten($dark-blue, 10%);
    }
  }

  .login-wrap {
    position: relative;

    .login-view, .register-view {
      display: inline-block;
      margin: 0 28px;
      vertical-align: top;
      width: 185px;

      label {
        display: block;
        font-size: 12px;
        margin: 0 4px 2px;
        text-align: left;
      }
    }

    .button {
      display: block;
      margin: 16px auto;
    }
  }

  footer {
    border-top: 3px solid lighten($dark-blue, 6%);
    color: $light-gold;
    padding: 8px 0;

    a {
      color: $blue;
      text-decoration: none;
    }
  }

  .vertical-line {
    background: lighten($dark-blue, 6%);
    border-radius: 5px;
    display: inline-block;
    height: 100%;
    position: absolute;
    width: 3px;
    z-index: 1;
  }
}