.welcome-view {
  height: 100%;
  text-align: center;
  width: 100%;

  > div {
    display: inline-block;
    margin: 0 10px;

    label {
      display: block;
      padding: 1px;
    }
  }

  .register-view {
   
  }

  .login-view {

  }
}