.grid-view .card-view {
  display: inline-block;
  margin: 0 2px 0;

  &:last-child {
    margin: 0;
  }
}

.player-0-turn.player-0-playing .player-0-hand .card-slider:hover,
.player-0-turn.player-0-playing .player-0-hand .card-slider.selected  {
  transform: translateX(25px);
}

.player-1-turn.player-1-playing .player-1-hand .card-slider:hover,
.player-1-turn.player-1-playing .player-1-hand .card-slider.selected {
  transform: translateX(-25px);
}

.card-view {
  background: linear-gradient(to bottom, black, $dark-blue);
  border: 2px solid $dark-gold;
  border-radius: 3px;
  height: 144px;
  position: relative;
  text-align: center;
  transform-style: preserve-3d;
  transition: all 120ms ease-in-out;
  user-select: none;
  width: 144px;

  &.top {
    animation: 1s ease-out 0s flip_top;
  }

  &.right {
    animation: 1s ease-out 0s flip_right;
  }

  &.bottom {
    animation: 1s ease-out 0s flip_bottom;
  }

  &.left {
    animation: 1s ease-out 0s flip_left;
  }

  &.player-0 {
    background: $blue;
    border-color: $blue;

    .side-gradient {
      background-image: radial-gradient(transparent 65%, $blue 130%),
                        linear-gradient(to top right, transparent 62%, $blue 120%);
    }
    .nameplate {
      background: $blue;
    }
  }

  &.player-1 {
    background: $red;
    border-color: $red;

    .side-gradient {
      background-image: radial-gradient(transparent 65%, $red 130%),
                        linear-gradient(to top right, transparent 62%, $red 120%);
    }

    .nameplate {
      background: $red;
    }
  }

  &:empty {
    border: 2px solid $dark-gold;
    border-bottom: 2px solid $gold;
  }

  .side-back {
    backface-visibility: hidden;
    height: 142px;
    overflow: hidden;
    position: absolute;
    top: 4px;
    transform: rotateY(180deg);
    width: 142px;
  }

  .side {
    backface-visibility: hidden;
    border: 10px solid $dark-blue;
    border-image: url($aluminum-texture) 30;
    border-color: rgba(0,0,0,0);
    border-radius: 4px;
    height: 124px;
    overflow: hidden;
    position: absolute;
    width: 124px;

    img {
      border: 1px solid $white;
    }
  }

  .side-gradient {
    backface-visibility: hidden;
    background-image: radial-gradient(transparent 70%, black 110%), linear-gradient(to top right, transparent 65%, black 120%);
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .power {
    backface-visibility: hidden;
    color: darken($gold, 20%);
    font-size: 20px;
    position: absolute;
    right: 24px;
    text-shadow: -1px -1px 1px lighten($gold, 50%),
                -1px -1px 0 rgba(255,255,255,0.8),
                1px 1px 2px black,
                1px 1px 2px black,
                0px 0px 5px black,
                0px 0px 5px black,
                0px 0px 5px black,
                0px 0px 5px black;
    -webkit-text-stroke: 1px lighten($gold, 5%);
    top: 18px; 
    transform-style: preserve-3d;
  }

  .top,
  .right,
  .bottom,
  .left {
    position: absolute;
  }

  .top {
    top: -16px;
  }

  .right {
    right: -22px;
  }

  .bottom {
    bottom: -40px;
  }

  .left {
    left: -11px;
  }

  .nameplate {
    backface-visibility: hidden;
    background: $gold;
    bottom: 10px;
    color: lighten($gold, 50%);
    font-weight: bold;
    position: absolute;
    text-shadow: 0px 0px 2px black,0px 0px 2px black,0px 0px 2px black;
    -webkit-text-stroke: 1px darken($gold, 20%);
    width: 100%;
  }

  // &:before {
  //   background: black;
  //   content: '';
  //   height: 100%;
  //   left: 0;
  //   position: absolute;
  //   top: 0;
  //   width: 100%;
  // }
}

.card-slider {
  transition: all 120ms ease-in-out;

  &:not(:last-child) {
    margin: 0 0 4px;
  }
}

@keyframes flip_top { from { transform: rotateX(0deg) } to { transform: rotateX(360deg) }  }
@keyframes flip_right { from { transform: rotateY(0deg) } to { transform: rotateY(-360deg) }  }
@keyframes flip_bottom { from { transform: rotateX(0deg) } to { transform: rotateX(-360deg) }  }
@keyframes flip_left { from { transform: rotateY(0deg) } to { transform: rotateY(360deg) }  }
