.grid-view .card-view {
  display: inline-block;
  margin: 3px;
}

.hand-view .card-view {
  margin: 1px;

  &:empty {
    display: none;
  }
}

.player-0-turn.player-0-playing .player-0-hand .card-slider:hover,
.player-0-turn.player-0-playing .player-0-hand .card-slider.selected  {
  transform: translateX(25px);
}

.player-1-turn.player-1-playing .player-1-hand .card-slider:hover,
.player-1-turn.player-1-playing .player-1-hand .card-slider.selected {
  transform: translateX(-25px);
}

.card-view {
  background-color: rgba(10, 1, 13, 0.6);
  border: 8px solid $white;
  border-radius: 6px;
  height: 128px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 120ms ease-in-out;
  width: 128px;

  &.top {
    animation: 1s ease-out 0s flip_top;
  }

  &.right {
    animation: 1s ease-out 0s flip_right;
  }

  &.bottom {
    animation: 1s ease-out 0s flip_bottom;
  }

  &.left {
    animation: 1s ease-out 0s flip_left;
  }

  &.player-0 {
    background: $blue;
    border: 8px solid $blue;
  }

  &.player-1 {
    background: $red;
    border: 8px solid $red;
  }

  .side.back {
    transform: rotateY(180deg);
  }

  .side {
    backface-visibility: hidden;
    border-radius: 4px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
  }

  .power {
    backface-visibility: hidden;
    color: rgba(255,255,0,1);
    font-size: 20px;
    position: absolute;
    right: 24px;
    text-shadow: -2px -2px 0px rgba(255,255,255,0.3), 2px 2px 0px rgba(0,0,0,0.8);
    top: 18px; 
    transform-style: preserve-3d;
  }

  .top,
  .right,
  .bottom,
  .left {
    position: absolute;
  }

  .top {
    top: -16px;
  }

  .right {
    right: -22px;
  }

  .bottom {
    bottom: -40px;
  }

  .left {
    left: -11px;
  }
}

.card-slider {
  transition: all 120ms ease-in-out;
}

@keyframes flip_top { from { transform: rotateX(0deg) } to { transform: rotateX(360deg) }  }
@keyframes flip_right { from { transform: rotateY(0deg) } to { transform: rotateY(-360deg) }  }
@keyframes flip_bottom { from { transform: rotateX(0deg) } to { transform: rotateX(-360deg) }  }
@keyframes flip_left { from { transform: rotateY(0deg) } to { transform: rotateY(360deg) }  }
