$light-blue: #6dabaf;
$blue: #235967;
$dark-blue: #020A12;

$light-gold: #75736C;
$gold: #DFAF5B;
$dark-gold: #6C5330;

$green: #8CEC52;
$red: #cc3c3c;
$white: #EBE2D1;

$error-red: #a51717;

$aluminum-texture: '/img/aluminum.png';
$rock-texture: '/img/rock.png';