$light-blue: #1E262B;
$blue: #3190e2;
$dark-blue: #020A12;

$light-gold: #75736C;
$gold: #DFAF5B;
$dark-gold: #6F572F;

$red: #f75151;

$white: #EBE2D1;

$error-red: #a51717;

$rock-texture: '/img/marble.png';