@import '_variables.scss';

html {
  height: 100%;
}

.App {
  text-align: center;

  .app-header {
    background-color: $dark-blue;
    background-image: url("https://www.transparenttextures.com/patterns/rocky-wall.png");
    padding: 1px;
    color: white;
  }

  .app-nav {
    padding: 0;

    a {
      color: white;
    }

    li {
      display: inline-block;
      padding: 5px 10px;
    }
  }

  .app-body {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover !important;
  }

  .app-body:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, $blue, $red);
    opacity: .6; 
  }
}

[role="button"] {
  cursor: pointer;
}

.rules-view {
  background-color: $dark-blue;
  background-image: url("https://www.transparenttextures.com/patterns/rocky-wall.png");
  border: 20px solid #a77314;;
  border-radius: 12px;
  height: 260px;
  margin: 28px auto;
  position: relative;
  width: 320px;

  .rule {
    margin: 18px 0 0;
  }

  .rule-name {
    color: white;
    font-size: 26px;
  }

  .close {
    bottom: 24px;
    position: absolute;
    left: 80px;
  }
}

@import '_card.scss';