@import '_variables.scss';
@import '_fireworks.scss';

a {
  color: #68b3d2;
  text-decoration: none;
}

a:visited {
  color: #68b3d2;
}

h2, h3, h4, h5 {
  font-weight: normal;
  margin: 0;
}

.button,
a.button {
  background-image: url($rock-texture);
  background-color: $dark-blue;
  border: 1px solid $dark-gold;
  border-radius: 1px;
  border-top: 2px solid $gold;
  box-shadow: inset 0 0 10px black;
  color: $gold;
  filter: drop-shadow(0 0 0 $gold);
  font-family: serif;
  font-size: 16px;
  margin: 0 auto;
  padding: 8px 24px;

  transition: filter .1s linear,
    border-color .1s linear,
    text-shadow .1s linear,
    background .1s linear; 
  user-select: none;
  width: fit-content;

  &:visited {
    color: $gold;
  }

  &.disabled {
    color: gray;
    border-color: gray;
    pointer-events: none;
  }

  &:hover {
    background: lighten($dark-blue, 10%);
    border-color: $gold;
    box-shadow: inset 0 0 10px $blue;
    color: lighten($gold, 10%);
    filter: drop-shadow(0px 0px 6px $dark-gold);
    text-shadow: 0 0 5px $gold;
  }
}

.appears {
  animation: .15s ease-out 0s appearsAnim;
}

.appears-up {
  animation: .15s ease-out 0s appearsUpAnim;
}

@keyframes appearsAnim {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appearsUpAnim {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.app {
  background-color: $dark-blue;
  background-image: url($rock-texture);
  text-align: center;

  .app-header {
    color: $white;
    height: 60px;
    margin: 0 auto;
    width: 960px;

    .menu {
      background: black;
      display: block;
      left: 0;
      position: absolute;
      top: 9px;
      transition: top .1s ease-out;
      z-index: -1;

      ul {
        padding: 0;
      }

      li {
        display: block;
      }

      li div {
        padding: 5px 20px;
      }
    }

    .user-menu-btn-display:hover + .menu, .menu:hover {
      top: 36px;
    }

    .user-menu-btn-display {
      padding-right: 0;
    }

    .profile-icon {
      height: 32px;
      margin: -8px 0 0 16px;
      float: right;
    }

    .button {
      font-size: 14px;
    }
  }

  .app-title {
    display: inline-block;
    float: left;
    margin: 0 30px;
    
    img {
      filter: drop-shadow(0 0 2px $dark-gold);
      height: 55px;
    }
  }

  .app-nav {
    margin: 0;
    padding: 8px 0;
    float: right;

    > li {
      display: inline-block;
      margin: 5px 10px;
      position: relative;
      z-index: 1;
    }
  }

  .app-body {
    background-size: cover !important;
    border-top: 2px solid $dark-gold;
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .app-body:before {
    background-color: transparentize($dark-blue, 0.4);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  footer {
    background: $dark-blue;
    border: 1px solid $blue;
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    bottom: 0;
    font-weight: normal;
    left: 50%;
    padding: 8px 10px 5px;
    margin-left: -103px;
    max-width: 206px;
    position: fixed;
    width: 100%;
  }
}

[role="button"] {
  cursor: pointer;
}

.header {
  color: $gold;
  font-family: serif;
  font-size: 22px;
  font-weight: normal;
}

.rules-view {
  background-color: $dark-blue;
  background-image: url($rock-texture);
  border: 1px solid $dark-gold;
  border-radius: 1px;
  border-top: 2px solid $gold;
  margin: 0 88px;
  padding: 8px 8px 14px;
  position: absolute;
  top: 10px;
  width: 320px;
  z-index: 2;

  .rule {
    margin: 0 0 10px;
  }

  .rule-name {
    color: $white;
    font-size: 18px;
  }

  .close {
    margin: 14px auto 0;
    width: 120px;
  }

  .opponent {
    margin: 0 25px 10px;
  }

  .rules {
    margin: 0 25px 0;
  }

  .rules, .opponent {
    text-align: left;

    .rule {
      margin: 0 5px;
    }
  }

  .rules-link {
    font-size: 14px;
  }

  .lobby-view & .header {
    margin: 4px 0;
  }
}

.popover-bg {
  background: $dark-blue;
  height: 100%;
  left: 0;
  opacity: .8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

@-webkit-keyframes spinX {
  0% {
    opacity: 1;
    transform: rotateZ(0deg) rotateY(0deg);
    transform-origin: 0% 200% 0;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: rotateZ(180deg) rotateY(180deg);
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: rotateZ(360deg) rotateY(360deg);
    transform-origin: 0% 200% 0;
  }  
}

@import '_card.scss';