@import '_variables.scss';
@import '_fireworks.scss';

a {
  text-decoration: none;
}

.button {
  background-image: url($rock-texture);
  background-color: $dark-blue;
  border: 1px solid $dark-gold;
  border-radius: 1px;
  border-top: 2px solid $gold;
  color: $gold;
  font-family: serif;
  font-size: 20px;
  margin: 0 auto;
  padding: 5px 10px;
  user-select: none;
  
  &.disabled {
    color: gray;
    border-color: gray;
    pointer-events: none;
  }

  &:hover {
    background: lighten($dark-blue, 10%);
    color: lighten($gold, 10%);
  }
}

.app {
  background-color: $dark-blue;
  background-image: url($rock-texture);
  text-align: center;

  .app-header {
    color: $white;
    height: 60px;
    margin: 0 auto;
    width: 960px;

    img {
      filter: drop-shadow(0 0 2px $dark-gold);
      height: 55px;
    }

    .menu {
      display: none;
      position: absolute;

      ul {
        padding: 0;
      }

      li {
        display: block;
        margin: 5px 20px;
      }
    }

    .user-menu-btn {
      border: 0;
      background: rgba(0,0,0,0);
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
    }

    .user-menu-btn:focus + .menu {
      background: $dark-blue;
      display: block;
      z-index: 1;
    }

    .user-menu-btn-display {
      padding-right: 0;
    }

    .profile-icon {
      height: 27px;
      margin: -5px 0 0 9px;
      right: 11px;
      top: 6px;
      float: right;
    }

    .button {
      font-size: 14px;
    }
  }

  .app-title {
    display: inline-block;
    float: left;
    margin: 0 30px;
  }

  .app-nav {
    margin: 0;
    padding: 8px 0;
    float: right;

    > li {
      display: inline-block;
      margin: 5px 10px;
      position: relative;
    }
  }

  .app-body {
    background-size: cover !important;
    border-top: 2px solid $light-blue;
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .app-body:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, $blue, rgba(50,50,50,0.8), $red);
    opacity: .9; 
  }

  footer {
    bottom: 6px;
    font-weight: bold;
    position: fixed;
    width: 100%;

    a {
      color: $blue;
    }

    a:visited {
      color: $blue;
    }
  }
}

[role="button"] {
  cursor: pointer;
}

.rules-view {
  background-color: $dark-blue;
  background-image: url($rock-texture);
  border: 1px solid $dark-gold;
  border-radius: 1px;
  border-top: 2px solid $gold;
  margin: 0 88px;
  position: absolute;
  top: 10px;
  width: 320px;

  .rule {
    margin: 0 0 10px;
  }

  .rule-name {
    color: $white;
    font-size: 18px;
  }

  .close {
    margin: 15px auto;
    width: 120px;
  }

  h2 {
    padding: 10px 0 0;
  }

  .rules, .opponent {
    display: inline-block;
    padding: 0 0 0 25px;
    text-align: left;
    vertical-align: top;
    width: 135px;
  }
}

.popover-bg {
  background: $dark-blue;
  height: 100%;
  left: 0;
  opacity: .8;
  position: fixed;
  top: 0;
  width: 100%;
}

@-webkit-keyframes spinX {
  0% {
    transform: rotateZ(0deg) rotateY(0deg);
    transform-origin: 0% 200% 0;
  }
  50% {
    transform: rotateZ(180deg) rotateY(180deg);
  }
  100% {
    transform: rotateZ(360deg) rotateY(360deg);
    transform-origin: 0% 200% 0;
  }  
}

.game-waiting {

  .card-view {  
    position: absolute;
    animation: spinX 4s infinite ease-in-out;
  }

  .cards {
    height: 225px;
    margin: 0 auto;
    position: relative;
    width: 0;

    @for $i from 0 through 4 {
      :nth-child(#{$i}) {
        animation-delay: #{$i/5 * 4}s;
      }
    } 
  }

  h3 {
    color: $gold;
  }

  .lobby-game-view {
    margin: 0 auto 10px;
    width: 200px;
  }
}

@import '_card.scss';