@import '../../styles/_variables.scss';

.game-view {
  margin: 15px auto;
}

.game-over {
  color: white;
  font-size: 100px;
  text-shadow:
  -1px -1px 0 #000,
  2px -1px 0 #000,
  0px 4px 0 #000,
  1px 1px 0 #000,
  1px 4px 7px rgba(255, 255, 255, 0.8);
  width: 100%;

  .victory {
    color: $blue;
  }

  .defeat {
    color: $red;
  }
}

.hand-view {
  display: inline-block;
  perspective: 200;
  vertical-align: top;
  width: 144px;

  &.closed .card-view .side.back {
    transform: rotateY(0deg);
  }

  .card-view {
    display: block;
  }
}

.grid-view {
  display: inline-block;
  width: 508px;
  vertical-align: top;

  > :first-child {
    height: 100px;
  }

  .score {
    position: absolute;
  }

  .player-0 {
    color: $blue;

    &.score {
      left: 24px;
    }
  }

  .player-1 {
    color: $red;

    &.score {
      right: 24px;
    }
  }

  .forfeit {
    margin: 55px auto;
    width: 150px;
  }

  .headline {
    bottom: 12px;
    font-size: 54px;
    font-weight: bold;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
  }
}

.grid-row {
  display: block;
  margin-bottom: -5px;
  position: relative;

  .score {
    bottom: 8px;
    display: inline-block;
    font-size: 50px;
    font-weight: bold;
    width: 102px;
  }
}

.game-waiting {
  position: relative;

  .button {
    width: 120px;
  }
}