@import '../../styles/_variables.scss';

.game-view {
  margin: 15px auto;
  user-select: none;
}

.game-over {
  color: white;
  font-size: 100px;
  text-shadow:
  -1px -1px 0 #000,
  2px -1px 0 #000,
  0px 4px 0 #000,
  1px 1px 0 #000,
  1px 4px 7px rgba(255, 255, 255, 0.8);
  width: 100%;

  .victory {
    color: $blue;
  }

  .defeat {
    color: $red;
  }
}

.hand-view {
  background-color: $dark-blue;
  background-image: url($rock-texture);
  border: 1px solid $dark-gold;
  border-radius: 1px;
  border-top: 2px solid $gold;
  display: inline-block;
  padding: 8px;
  position: relative;
  vertical-align: top;
  width: 148px;

  &.closed .card-view .side-back {
    transform: rotateY(0deg);
  }

  .card-view {
    display: block;
  }
}

.grid-view {
  background-color: $dark-blue;
  background-image: url($rock-texture);
  border: 1px solid $dark-gold;
  border-radius: 2px;
  border-top: 2px solid $gold;
  display: inline-block;
  margin: 40px 42px;
  padding: 10px 10px;
  position: relative;
  vertical-align: top;
  width: 466px;

  > :first-child {
    height: 89px;
  }

  .score {
    position: absolute;
    filter: drop-shadow(0 0 5px black);
    font-size: 78px;
    font-weight: bold;
    line-height: 72px;
    -webkit-text-stroke: 1px $white;
  }

  .scoreboard {
    background: $dark-blue;
    border: 1px solid $dark-gold;
    border-bottom: 1px solid $gold;
    border-radius: 50px;
    box-shadow: inset 0 0 10px black;
    margin: 0 auto 10px;
    width: 448px;

    > .player-0, > .player-1 {
      position: relative;
      float: left;

      .username {
        border-top: 1px solid $dark-gold;
        display: inline-block;
        overflow: hidden;
        width: 134px;
      }

      img {
        border: 3px solid $gold;
        border-radius: 80px;
        display: inline-block;
        filter: drop-shadow(0 0 2px $dark-gold);
        padding: 2px;
      }
    }

    > .player-0 {
      text-align: right;
    }

    > .player-1 {
      text-align: left;
    }

    .username {
      color: lighten($gold, 50%);
      text-shadow: 0px 0px 2px black,0px 0px 2px black, 0px 0px 2px black;
      -webkit-text-stroke: 1px darken($gold, 20%);
    }
  }

  .player-0-turn {
    
  }

  .vs {
    color: lighten($gold, 50%);
    font-size: 13px;
    position: absolute;
    text-shadow: 0px 0px 2px black,0px 0px 2px black, 0px 0px 2px black;
    -webkit-text-stroke: 1px darken($gold, 20%);
    top: 84px;
    width: 448px;
  }


  .player-0 {
    color: $blue;

    .score {
      left: 24px;
      padding-right: 5px;
      top: 9px;
    }

    .username {
      right: 0;
    }
  }

  .player-1 {
    color: $red;

    .score {
      padding-left: 5px;
      right: 24px;
      top: 9px;
    }

    .username {
      left: 0;
    }
  }

  .forfeit {
    margin: 12px auto;
    width: 150px;
  }

  .log {
    position: absolute;
    width: 252px;
    color: $gold;
    text-align: left;
    margin: 0 98px;
    height: 70px;
    overflow: hidden;

    .player {
      font-weight: bold;
    }

    .item {
      animation: 5s linear 0s slidein;
      color: $white;
      font-size: 12px;
      opacity: 0;
      overflow: hidden;
    }
  }

  .forfeit-warning {
    .button {
      display: inline-block;
      margin: 0 15px;
    }
  }
}

@keyframes slidein {
  0% {
    opacity: 0;
  }
  3% {
    opacity: 1;
  }
  97% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.game-invite {
  margin: 30px auto;
  position: relative;

  h3 {
    color: $gold;
  }

  .button {
    display: inline-block;
    margin: 3px 22px 0;
  }
}

.game-waiting-wrap {
  .cards {
    height: 0;
    margin: 0 auto;
    position: relative;
    top: -368px;
    right: 82px;
    width: 0;

    @for $i from 0 through 4 {
      :nth-child(#{$i}) {
        animation-delay: #{$i/5 * 6}s;
      }
    } 
  }

  .card-view {  
    position: absolute;
    animation: spinX 6s infinite ease-in-out;
  }
}

.game-waiting {
  color: $gold;
  margin: 160px auto 0;
  font-weight: normal !important;
  position: relative;

  .button {
    width: 120px;
  }
  
  .invite-link {
    background: lighten($dark-blue, 13%);
    border-color: $gold;
    color: white;
    font-size: 12px;
    width: 80%;
  }

  .invite {
    font-size: 14px;
    margin: 16px 0;
  }

  .lobby-game-view {
    margin: 0 auto 20px;
    width: 226px;
  }
}